In [1]:
# importing libraries
import requests as re
from requests_html import HTMLSession
from requests_html import HTML
from bs4 import BeautifulSoup as bs
import pandas as pd
from datetime import datetime as dt
import os

In [2]:
BASE_DIR = os.path.dirname('__file__')
now = dt.now().date()
print(now)

2022-08-22

In [2]:
url = "https://www.boxofficemojo.com/year/world/?ref_=bo_nb_hm_tabbo"
def url_to_txt(url, filename="world.html", save=True):
    r = re.get(url)
    if r.status_code == 200:
        html_text = r.content
        if save:
            with open(filename, "wb") as f:
                f.write(html_text)
            return html_text
           
def run(start_year=None, years_ago=10):
    if start_year == None:
        year = datetime.now().year()

    assert isinstance(start_year, int)

r_html = HTML(html=html_text)
table_class = ".imdb-scroll-table"
r_html.find(table_class)

In [ ]:
html_text =  url_to_txt(url)
r_html = HTML(html=html_text)
table_class = ".imdb-scroll-table"
r_table = r_html.find(table_class)
if len(r_table) == 1:
    pasrsed_table = r_table[0]
    rows = parsed_table.find("tr")
    row_data = []
    for row in rows[1:]:
        cols = row.find("td")
        for col in cols:
            row_data.append(col.text)
row_data

#def parse_and_extract(url, name="2020"):
html_text =  url_to_txt(url)
r_html = HTML(html=html_text)
table_class = ".imdb-scroll-table"
r_html.find(table_class)
r_table = r_html.find(table_class)
if len(r_table) == 1:
    #print(r_table[0].text)
    parsed_table = r_table[0]
    rows = parsed_table.find("tr")

    header_row = rows[0]
    header_cols = header_row.find("th")


    header_name = [x.text for x in header_cols]
    table_data = []
    for row in rows[1:]:
        cols = row.find("td")
        row_data = []
        for col in cols:
            #print(i, x.text, '\n\n')
            row_data.append(col.text)
        table_data.append(row_data)  
    df = pd.DataFrame(table_data, columns= header_name)
    os.makedirs(path, exist_ok=True)
    filepath = os.path.join("data", f"{name}.csv")

#parse_and_extract(url, name="2020")

In [12]:

for i in range(2010, 2022):
    for item in table_data.find_all("tr"):
        rows = item.find_all("td")
        data = [row.text.strip() for row in rows]
        row_data.append(data)
    next_url = f"https://www.boxofficemojo.com/year/world/{str(i)}" 
    url = nex_url
    print(url)

In [16]:
table_header = []
for h in table_data.find_all("th"):
    head = h.text.strip()
    table_header.append(head)

In [17]:
df = pd.DataFrame(row_data, columns=table_header)

In [18]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%
0,None,None,None,None,None,None,None
1,1,Top Gun: Maverick,"$1,403,375,000","$683,375,000",48.7%,"$720,000,000",51.3%
2,2,Jurassic World Dominion,"$984,727,000","$373,873,000",38%,"$610,854,000",62%
3,3,Doctor Strange in the Multiverse of Madness,"$954,998,698","$411,331,607",43.1%,"$543,667,091",56.9%
4,4,Minions: The Rise of Gru,"$833,623,000","$350,037,000",42%,"$483,586,000",58%